input[type=submit]:hover {
    background-color:#CFB997;
    color: white; }
div.container {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 3px solid #CFB997;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    border: 2px solid #CFB997;
    border-radius: 10px;
    box-shadow: 0 0 10px white;

}